.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.zip
*.pyc
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/server/node_modules
/coverage
/node_modules
/python/server/yang
/python/server/ut-yang
/python/server/cucc-yang
/python/server/__pycache__
